<div id="recent-phrases">
  <h2 class="text-center">Recent Phrases</h2>
  <% @communities.each_slice(4) do |row| %>
    <div class="row mb10">
      <% row.each do |community| %>
        <div class="row-bottom">
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="recent-phrases" style="background-image: url('<%= asset_path community.image.url(:thumb) %>');">
              <div class="pull-right">
                <% if current_user && community.user_ids.include?(current_user.id) %>
                  <%= link_to("Member", community_path(community), class: "btn btn-success") %>
                <% else %>
                  <%= link_to("Join", join_community_path(community), method: :post, remote: true, id: "community_#{community.id}", class: "btn btn-info") %>
                <% end %>
              </div>
              <div class="bottom-align">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  Users: <%= community.users.count %>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="pull-right">
                    Posts: <%= community.posts.count %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
