<div id="recent-phrases">
  <h2 class="text-center">Recent Phrases</h2>
  <% @communities.each_slice(4) do |row| %>
    <div class="row mb10">
      <% row.each do |community| %>
        <div class="row-bottom">
          <div class="col-md-3 col-sm-3 col-xs-3">
            <!-- <div class="recent-phrases" style="background-image: url('<%#= asset_path community.image.url(:thumb) %>');"> -->
            <%= link_to community_path(community) do %>
              <% if community.image.exists? %>
                <%= image_tag community.image.url(:thumb), size: '190x190' %>
              <% else %>
                <%= image_tag 'no_image.png' %>
              <% end %>
              <!-- <div class="pull-left"> -->
                <%#= link_to("Show", community_path(community), class: "btn btn-default") %>
              <!-- </div> -->
              <div class="pull-right">
                <% if current_user && community.owner_id == current_user.id %>
                  <%= link_to("Owner", community_path(community), id: "community_#{community.id}", class: "btn btn-primary owner-button") %>
                <% elsif current_user && community.user_ids.include?(current_user.id) %>
                  <%= link_to("Leave", leave_community_path(community), remote: true, id: "community_#{community.id}", class: "btn btn-success leave-button") %>
                <% else %>
                  <%= link_to("Join", join_community_path(community), remote: current_user ? true : false, id: "community_#{community.id}", class: "btn btn-info join-button") %>
                <% end %>
              </div>
              <div class="bottom-align">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  Users: <%= community.users.count %>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="pull-right">
                    Posts: <%= community.posts.count %>
                  </div>
                </div>
              </div>
            <% end %>
            <!-- </div> -->
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
