<p id="notice"><%= notice %></p>

<h1>Users of <%= @community.name %> Community</h1>
<h5 class="text-center"><%= @users.count %> Phrasers</h5>

<% @users.each_slice(3) do |row| %>
  <div class="row">
    <% row.each do |user| %>
      <div class="col-md-4">
        <div class="cont">
          <div class="wrap">
            <div class="crop">
              <%= image_tag user.avatar.url(:thumb), size: "50x50", class: 'img-responsive center-block' %>
            </div>
          </div>
        </div>
        <p class="username"><%= link_to user.username, user_path(user) %></p>
      </div>
    <% end %>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
<% end %>
