<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="cont">
      <div class="wrap">
        <div class="crop">
          <%= image_tag @user.avatar.url(:thumb), size: "50x50", class: 'img-responsive center-block' if @user %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="username"><%= @user.username %></p>
    </div>
    <div class="col-md-6">
      <% username = @user.username %>
      <% url = username_path(@user.username) %>
      <%= link_to(image_tag('facebook.png', size: '30x30'), @user.facebook_link, target: '_blank') if @user.facebook_link.present? %>
      <%= link_to(image_tag('twitter.png', size: '30x30'), @user.twitter_link, target: '_blank') if @user.twitter_link.present? %>
      <%= link_to(image_tag('reddit.png', size: '30x30'), @user.vine_link, target: '_blank') if @user.vine_link.present? %>
  </div>
</div>
