<%= form_for(@post, url: community_posts_path(@community)) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-10">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-10">
        <div class="form-group">
          <div class="row">
            <% if @community.at_the_beginning %>
              <div class="col-md-4">
                <h2 class="community-name"><%= @community.name %></h2>
              </div>
              <div class="col-md-8">
                <%= f.text_field :subject, class: "form-control", placeholder: "Complete it for your desire :)" %>
              </div>
            <% else %>
              <div class="col-md-8">
                <%= f.text_field :subject, class: "form-control", placeholder: "Complete it for your desire :)" %>
              </div>
              <div class="col-md-4">
                <h2 class="community-name"><%= @community.name %></h2>
              </div>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <%= f.text_area :body, class: "form-control", rows: "7", placeholder: "What is the reason? Do you have any story behind it?" %>
        </div>
        <div class="actions">
          <%= f.submit 'Post', class: "btn btn-primary pull-right" %>
        </div>
      </div>
    </div>
<% end %>
