<h1 class="text-center">{<%= link_to @community.name, community_path(@community) %>}</h1>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <% if @community.at_the_beginning %>
      <h2><%= @community.name %> <%= @post.subject %></h2>
    <% else %>
      <h2><%= @post.subject %> <%= @community.name %></h2>
    <% end %>
  </div>
  </div>
<div class="row">
  <p class="username"><%= @post.user.username if @post.user %></p>
  <div class="col-md-2">
    <div class="cont">
      <div class="wrap">
        <div class="crop">
          <%= image_tag @post.user.avatar.url(:thumb), size: "50x50" if @post.user %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <%= @post.body %>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <% if current_user && !@post.votes_for.collect(&:voter_id).include?(current_user.id) %>
      <%= link_to liked_by_community_post_path(@community, @post), remote: true do %>
        <%= image_tag('like.png', size: '30x30') %>
      <% end %>
    <% else %>
      <%= image_tag('like.png', size: '30x30') %>
    <% end %>
    Liked <span id="post_like_<%= @post.id %>"><%= @post.votes_for.count %></span>
  </div>
  <div class="col-md-3">
    <% if current_user %>
      <%= link_to report_community_post_path(@community, @post), remote: true do %>
        <%= image_tag('report.png', size: '30x30') %>
      <% end %>
      Report
    <% end %>
  </div>
  <% if @community.at_the_beginning %>
    <% phrase = "#{@community.name} #{@post.subject}" %>
  <% else %>
    <% phrase = "#{@post.subject} #{@community.name}" %>
  <% end %>
  <% url = community_post_url(@community, @post) %>
  <div class="col-md-3 nopadding">
    <div class="pull-right">
      <%= link_to(image_tag('facebook.png', size: '30x30'), "http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=#{url}&p[title]=#{phrase}",
          class: "popup", :"data-width" => "550", :"data-height"=> "400") %>
      <%= link_to(image_tag('twitter.png', size: '30x30'), "https://twitter.com/intent/tweet?text=#{phrase}+#{url}",
          class: "popup", :"data-width" => "550", :"data-height"=> "400") %>
      <%= link_to(image_tag('reddit.png', size: '30x30'), '//www.reddit.com/submit', class: "popup", :"data-width" => "550", :"data-height"=> "400") %>
    </div>
  </div>
</div>
