<%= form_for([@user, @community])do |f| %>
  <% if @community.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @community.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :phrase, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <p>Where do you want to show your phrase in your sentence?</p>
      </div>
      <div class="col-md-3">
        <label class="radio-inline">
          <%= f.radio_button(:at_the_beginning, true) %> At the beginning
        </label>
        <p>Example: S world</p>
      </div>
      <div class="col-md-3">
        <label class="radio-inline">
          <%= f.radio_button(:at_the_beginning, false) %> At the end
        </label>
        <p>Example: World S</p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :domain, :class => 'control-label' %>
    <div class="row">
      <div class="col-md-1">
        <p>http://</p>
      </div>
      <div class="col-md-9 nopadding">
        <%= f.text_field :domain, :class => 'form-control', placeholder: "s" %>
      </div>
      <div class="col-md-2 nopadding">
        <p>.setphrase.com</p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= image_tag @community.image.url(:medium) %>
  </div>

  <div class="form-group">
    <div class="controls">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit nil, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
