<!-- <p id="notice"><%#= notice %></p> -->

<div class="text-center">
  <h1>{<%= @community.name %>}</h1>

  <% unless current_user && @community.user_ids.include?(current_user.id) || current_user && @community.owner_id == current_user.id %>
    <h3>If you want to post, please join</h3>
    <%= link_to("Join", join_community_path(@community), id: "community_#{@community.id}", class: "btn btn-info") %>
  <% else %>
    <%= link_to("Leave", leave_community_path(@community), id: "community_#{@community.id}", class: "btn btn-success") %>
  <% end %>

  <h5><%= link_to @community.users.count.to_s + " Users", community_users_path(@community) %></h5>

  <% if user_signed_in? && @community.owner_id == current_user.id %>
    <%= link_to 'Edit', edit_community_path %>
    <%#= link_to 'Back', communities_path %>
  <% end %>
</div>
</br>
<!-- <div class="row"> -->
<%#= image_tag(@community.image.url(:medium)) %>
<!-- </div> -->

<% if current_user %>
  <%= render 'posts/form' if current_user && @community.user_ids.include?(current_user.id) || current_user && @community.owner_id == current_user.id %>
<% end %>

</br>

<% @posts.each do |post| %>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-2">
      <figure class="triangle pull-right pt-70">
        <%= image_tag post.user.avatar.url(:thumb), size: "50x50" %>
        <%= post.user.username %>
      </figure>
    </div>
    <div class="col-md-10">
      <%= link_to community_post_path(@community, post) do %>
        <h2><%= @community.name %> <%= post.subject %></h2>
      <% end %>
      <div>
        <%= post.body %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= link_to post.votes_for.first && post.votes_for.collect(&:voter_id).include?(current_user.id) ? '#' : liked_by_community_post_path(@community, post), remote: true do %>
            <%= image_tag('like.png', size: '30x30') %>
          <% end %>
          Liked <span id="post_like_<%= post.id %>"><%= post.votes_for.count %></span>
        </div>
        <div class="col-md-6">
          <%= link_to '#', remote: true do %>
            <%= image_tag('report.png', size: '30x30') %>
          <% end %>
          Report
        </div>
      </div>
      <%#= render_shareable :url=> community_post_path(@community, post), :facebook=> {:send=> 'true', :url=> community_post_path(@community, post)}, :buttons=> ['twitter', 'facebook'] %>
    </div>
  </div>
<% end %>
