<!DOCTYPE html>
<html>
<head>
  <title>Set Phrase</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "partials/header" unless current_page?(action: 'welcome')  %>

<div class="container">
  <div id="flashes" class="row">
    <% if flash[:alert] %>
      <p class="alert alert-warning"><%= flash[:alert] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="alert alert-success"><%= flash[:notice] %></p>
    <% end %>
  </div>

  <%= yield %>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
